.slide-height{
    height: 450px;
    padding: 50px 300px !important;
    border-radius: 10px;
}
/* .image-height{
    max-width: 40% !important;
} */

/* img, video {
    max-width: 40% !important;
} */
